
body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-image: url(Marco.png);
        background-repeat: no-repeat;
        background-size: 1023.5px 710px;
        color: orange;
        font-family: Arial, sans-serif;
        overflow: hidden;
}
#ElfoArriba{
    position: relative;
    bottom: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    left: 2px;

    width: 87.3%;
}
#Corredor{
    width: 40px;
    height: 40px;
    position: relative;
    left: 0%;
    top: 35px;
    right: 0em;
    transform: rotate(180deg) scaleX(-1) ;
    z-index: 1;
    animation-name: Techo;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: both;
    animation-play-state: running;
}
#casa{
    transform: scaleX(-1);
    height: 80px;
    z-index: 2;
}
#casa2{
    
    height: 80px;
    z-index: 2;
}

@keyframes Techo{
    0% {
        transform: translateX(-400px);
    }
    50% {
        transform: translateX(100px); /* Distancia a la derecha */
    }
    100% {
        transform: translateX(390px);
    }
}